$containerWidth: 940px;
$baseFontSize: 18px;

$gray: #666666;
$red: #E01F3D;
$darkred: #CA1B36;   
$black: #292929;
$white: #fff;
$light-gray: #F5F5F5;

$z-fixed-menu: 100;

@import url(/beats/css/blocks/normalize.css);

@import '../scss/base';
@import '../scss/_hero.scss';
@import '../scss/_header.scss';
@import '../scss/_features.scss';
@import '../scss/_feature.scss';
@import '../scss/_btn.scss';
@import '../scss/_section.scss';
@import '../scss/_headline.scss';
@import '../scss/_benefits.scss';
@import '../scss/_benefit.scss';
@import '../scss/_benefits-section.scss';
@import '../scss/_reviews.scss';
@import '../scss/_interactive-avatar.scss';
@import '../scss/_reviews-section.scss';
@import '../scss/_order-section.scss';
@import '../scss/_form.scss';
@import '../scss/_radio.scss';
@import '../scss/_map-section.scss';
@import '../scss/_footer.scss';
@import '../scss/_fixed-menu.scss';