@import url(/beats/css/blocks/normalize.css);
html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Play", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #292929;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 650px;
  position: relative;
}
.hero::before {
  position: absolute;
  bottom: -25px;
  right: 22%;
  content: url(/beats/img/rectangle.png);
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 23px 65px 0;
  background: url(/beats/img/earph.png) right 5% center no-repeat;
}
.hero__title-section {
  width: 46%;
}
.hero__main-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 52px;
  margin-bottom: 27px;
  text-transform: uppercase;
}
.hero__title-text {
  font-style: 21px;
  margin-bottom: 42px;
  padding-right: 25%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-menu__item {
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  margin-right: 30px;
}
.nav-menu__item:last-child {
  margin-right: 0;
}

.telephone {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.telephone__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.nav-menu__link {
  text-decoration: none;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  margin-right: 13px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 40px;
  margin-right: 9px;
}

.feature__text {
  font-size: 16px;
  max-width: 114px;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 18px 41px;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn--red {
  background: #E01F3D;
  color: #fff;
}
.btn--red:hover {
  background: #CA1B36;
}
.btn--darkred {
  background: #CA1B36;
  color: #fff;
}
.btn--darkred:hover {
  background: #E01F3D;
}
.btn--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  font-weight: normal;
  padding: 18px 8px;
}
.btn--transparent:hover {
  color: #000;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 53px;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  text-align: center;
}
.headline__title {
  margin-bottom: 18px;
}
.headline__subtitle {
  font-size: 16px;
  color: #666666;
  padding: 0 20%;
  margin-bottom: 60px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item::before {
  content: url(/beats/img/shape.png);
  position: absolute;
  top: 60px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}
.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.benefit__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 7px;
}
.benefit__desc {
  font-size: 16px;
  color: #666666;
}

.benefits-section {
  position: relative;
}
.benefits-section::before {
  position: absolute;
  bottom: -25px;
  left: 18%;
  content: url(/beats/img/triangle.png);
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 83px;
  height: 83px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -65px;
}
.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__avatar {
  width: 253px;
  height: 264px;
}
.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px;
  padding: 30px 100px 30px 0;
}
.reviews__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 27px;
}
.reviews__text {
  font-size: 16px;
  margin-bottom: 38px;
  color: #666666;
}
.reviews__author {
  font-weight: bold;
}
.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}
.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.reviews-section {
  position: relative;
}
.reviews-section::before {
  position: absolute;
  bottom: -25px;
  left: 19%;
  content: url(/beats/img/round.png);
}

.reviews-section__title {
  margin-bottom: 30px;
}

.order-section {
  background: url(/beats/img/bg_form.png) bottom center no-repeat;
  position: relative;
}
.order-section::before {
  position: absolute;
  top: -25px;
  right: 19%;
  content: url(/beats/img/Polygon.png);
}

.order-section {
  color: #fff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__title {
  font-size: 16px;
  margin-bottom: 4px;
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}
.form__input {
  width: 100%;
  border: 4px solid transparent;
  padding: 16px 20px 16px 12px;
  border-radius: 5px;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--text {
  height: 152px;
  resize: none;
  margin-bottom: 30px;
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 20px;
}
.radio__title {
  padding: 0px 10px;
}
.radio--checkbox {
  margin-bottom: 40px;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url(/beats/img/checkmark.png) center center no-repeat;
}
.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-section {
  background: url(/beats/img/map.png) center center no-repeat;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  min-height: 86px;
}
.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__col--align--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 2px;
}
.social__link {
  display: block;
  width: 30px;
  height: 30px;
  background: center center no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.social__link::before, .social__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/beats/img/css_sprites30.png");
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.social__link::before {
  opacity: 1;
}
.social__link:hover::before {
  opacity: 0;
}
.social__link::after {
  opacity: 0;
}
.social__link:hover::after {
  opacity: 1;
}
.social__link--telegram::before {
  background-position: -110px -10px;
}
.social__link--telegram::after {
  background-position: -110px -60px;
}
.social__link--vk::before {
  background-position: -60px -110px;
}
.social__link--vk::after {
  background-position: -10px -110px;
}
.social__link--fb::before {
  background-position: -60px -10px;
}
.social__link--fb::after {
  background-position: -10px -10px;
}
.social__link--instagram::before {
  background-position: -60px -60px;
}
.social__link--instagram::after {
  background-position: -10px -60px;
}
.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
}
.social__item:last-child {
  margin-right: 0;
}

.contacts {
  font-style: normal;
}
.contacts__contacts__address {
  margin-bottom: 5px;
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 17%;
  z-index: 100;
}
.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #E01F3D;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fixed-menu__link {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}