.fixed-menu {
    position: fixed;
    top: 30%;
    right: 17%;
    z-index: $z-fixed-menu;

    &__item {
        margin-bottom: 5px;

        &--active {
            .fixed-menu__link {
                border-color: $red;

                &::before {
                    content: "";
                    display: block;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: $red;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    &__link {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid transparent;
        display: block;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}