.order-section {
    color: $white;
   
}

.form {
    display: flex;

    &__title {
        font-size: 16px;
        margin-bottom: 4px;
    }

    &__col {
        flex: 1;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__row {
        display: flex;
        margin-bottom: 10px;
    }

    &__block {
        flex: 1;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__input {
        width: 100%;
        border: 4px solid transparent;
        padding: 16px 20px 16px 12px;
        border-radius: 5px;

        &:focus {
            border-color: $red;
            outline: none;
        }

        &--text {
            height: 152px;
            resize: none;
            margin-bottom: 30px;
        }
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;
    }
}