.order-section {
    color: $white;
   
}

.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 17%;
    }

    @include phones {
        padding: 0;
    }

    &__title {
        font-size: rem(16px);
        margin-bottom: rem(4px);
    }

    &__col {
        flex: 1;
        margin-right: rem(20px);

        &:last-child {
            margin-right: 0;
        }

        @include tablets {
            margin-right: 0;
        }
    }

    &__row {
        display: flex;
        margin-bottom: rem(10px);

        @include tablets {
            margin-bottom: rem(14px);
        }
    }

    &__block {
        flex: 1;
        margin-right: rem(20px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__input {
        width: 100%;
        border: rem(4px) solid transparent;
        padding: rem(16px) rem(20px) rem(16px) rem(12px);
        border-radius: rem(5px);

        &:focus {
            border-color: $red;
            outline: none;
            transition: .3s;
        }

        &--text {
            height: rem(152px);
            resize: none;
            margin-bottom: rem(30px);

            @include tablets {
                height: rem(82px);
                margin-bottom: rem(4px);
            }
        }

        @include tablets {
            padding: rem(6px) rem(10px) rem(6px) rem(10px);
        }
        
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;

        @include phones {
            justify-content: center;
        }
    }

    &__btns {
        @include tablets {
            display: flex;
            justify-content: center;
        }
    }
}

.input-error {
    border-color: $red;
}