.headline {
    text-align: center;

    &__title {
        margin-bottom: rem(18px);

        @include tablets {
            margin-bottom: rem(5px);
        }

        @include phones {
            font-size: rem(32px);
        }
    }

    &__subtitle {
        color: $gray;
        padding: 0 20%;
        margin-bottom: rem(60px);

        @include tablets {
            padding: 0 10%;
        }

        @include phones {
            padding: 0 3%;
        }
    }
}