.hero {
    // background: url(../../img/earph.png) right 30% bottom no-repeat;
    background-color: $light-gray;
    height: 100vh;
    min-height: rem(650px);
    position: relative;

    @include tablets {
        height: 100%;
    }
    
    &::before {
        position: absolute;
        bottom: rem(-25px);
        right: 22%;
        content: url(/beats/img/rectangle.png);
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: rem(24px) rem(23px) rem(65px) 0;
        background: url(/beats/img/earph.png) right 5% center no-repeat;

        @include tablets {
            background: none;
        }
    }

    &__title-section {
        width: 46%;

        @include tablets {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            &::before {
                content: '';
                width: rem(323px);
                height: rem(323px);
                background: url('/beats/img/earph.png')center center / contain no-repeat;
                margin-bottom: rem(68px);

                @include phones {
                    margin-bottom: rem(48px);
                }
            }
        
        }

    }

    &__main-title {
        font-size: rem(48px);
        font-weight: bold;
        line-height: rem(52px);
        margin-bottom: rem(27px);
        text-transform: uppercase;

        @include tablets {
            padding: 0 2%;
            margin-bottom: rem(5px);
        }

        @include phones {
            font-size: rem(32px);
            line-height: rem(36px);
            padding: 0 4%;
        }
    }

    &__title-text {
        font-size: rem(21px);
        margin-bottom: rem(42px);
        padding-right: 25%;

        @include tablets {
            padding: 0 21%;
            margin-bottom: rem(28px);
        }

        @include phones {
            padding: 0 9%;
            font-size: rem(18px);
        }
    }

    &__icon-section {
        @include tablets {
            display: none;
        }
    }
}