.hide-menu {
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    display: none;
    z-index: 2000;
}

.hide-menu__list {
    width: 100%;
    height: 100%;
    background: #313131;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 155px;
}
.hide-menu__item{
    padding-bottom: 15px;
    &:last-child{
        padding-bottom: 0;
    }
}
.hide-menu__link{
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: white;
    text-decoration: none;
}
.hide-menu__close{
    width: 20px;
    height: 20px;
    background: url(/beats/img/close.png) center no-repeat;
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}