.reviews {

    &__display{
    background: #F8FAF9;
    padding: rem(42px);
    overflow: hidden;
    position: relative;
    margin-bottom: rem(15px);

        &::before {
            content: '';
            display: block;
            width: rem(83px);
            height: rem(83px);
            background: $white;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: rem(-65px);

            @include phones {
                display: none;
            }
        }

        @include tablets {
            padding: 3.5rem 1.5rem 1.875rem;
        }
    }

    &__display-inner {
        display: flex;

        @include tablets {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
    }

    &__avatar {
        width: rem(253px);
        height: rem(264px);

        @include tablets {
            width: rem(130px);
            height: rem(130px);
            margin-bottom: rem(35px);
        }

        @include phones {
            margin-bottom: rem(24px);
        }
    }

    &__avatar-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__content {
        flex: 1;
        margin-left: rem(40px);
        padding: rem(30px) rem(100px) rem(30px) 0;

        @include tablets {
            margin-left: 0;
            padding: 0;
        }
    }

    &__title {
        font-size: rem(24px);
        font-weight: bold;
        margin-bottom: rem(27px);

        @include tablets {
            margin-bottom: rem(10px);
        }
    }

    &__text {
        margin-bottom: rem(38px);
        color: $gray;
    }

    &__author {
        font-size: rem(18px);
        font-weight: bold;
    }

    &__switcher {
        display: flex;
        justify-content: center;
    }
}