// .team__title {
//     font-size: rem(48px);
//     font-weight: bold;
//     text-align: center;
//     text-transform: uppercase;
//     margin-bottom: rem(53px);
//     @include tablets {
//         margin-bottom: rem(33px);
//     }
// }

// .team__list{
//     display: flex;
//     justify-content: space-between;
//     z-index: 2;
//     min-height: rem(200px);
//     @include tablets {
//         flex-direction: column;
//         align-items: center;
//         // margin-bottom: rem(10px);
//     }
//     &--mobile {
//         display: none;
//     }
// }

// .team__item{
//     flex: 1;
//     text-align: center;
//     margin-right: rem(20px);
//     &:last-child{
//         margin-right: 0;
//     }
    
//     @include tablets {
//         width: 100%;
//         max-width: 222px;
//         margin-right: 0;
//     }
// }

// .team__photo{
//     // margin-bottom: ;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-bottom: rem(25px);
//     @include tablets {
//         display: none;
//     }
//     &_hidden {
//         display: none;
//         @include tablets{
//             display: flex;
//             transition: .3s;
//         }
//     }

// }

// .team__name {
//     font-size: rem(18px);
//     font-weight: bold;
//     display: flex;
//     position: relative;
//     justify-content: center;
//     align-items: center;
//     margin-bottom: rem(11px);
//     text-decoration: none;

//     &::after {
//         content: '';
//         width: 9px;
//         height: 7px;
//         margin-left: 5px;
//         transform: rotate(0deg);
//         transition: transform .3s;
//         background: url(/beats/img/arrow.png) center center/contain no-repeat;
//         @include tablets {
//             background: url(/beats/img/arrow2.png) center center/contain no-repeat;

//         }
//     }

//     &--active {
//         &::after{
//             transform: rotate(180deg);
//         }
//     }

// }

// .team__position {
//     margin-bottom: rem(4px);
//     @include tablets{
//         font-size: rem(18px);
//         font-weight: bold;
//     }
// }

// .team__text {
//     padding: 0 5%;
//     color: #666;
// }

// .team__desc {
//     max-height: 0;
//     overflow: hidden;
//     transition: max-height 0.3s;
//     will-change: max-height;
//     &--active {
//         max-height: 100%;
//     }
// }

.team__title {
    font-size: rem(48px);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem(53px);
    @include tablets {
        margin-bottom: rem(33px);
    }
    @include phones {
        font-size: rem(32px);
    }
}



.team__list{
    display: flex;
    justify-content: space-between;
    z-index: 2;
    min-height: rem(200px);
    @include tablets {
        flex-direction: column;
        align-items: center;
        // margin-bottom: rem(10px);
    }
    &--desctop {
        @include tablets {
            display: none;
        }
    }
    &--mobile {
        display: none;
        @include tablets {
            display: flex;
        }
    }
}

.team__item{
    flex: 1;
    text-align: center;
    margin-right: rem(20px);
    &:last-child{
        margin-right: 0;
    }
    
    @include tablets {
        width: 100%;
        max-width: 222px;
        margin-right: 0;
    }
}

.team__photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(25px);
    @include phones {
        margin-bottom: rem(20px);
    }

}

.team__pic {
    @include tablets {
        height: rem(290px);
    }
    @include phones {
        height: rem(180px);
    }
    
}

.team__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.team__button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.team__name {
    cursor: pointer;
    font-size: rem(18px);
    font-weight: bold;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(11px);
    text-decoration: none;
    border: none;
    background: transparent;

}

.team__icon {
    &-img{
        color: #E01F3D;
        transform: translateY(-7px) rotate(0deg);
        transition: transform 0.3s ease-out;
        width: 9px;
        height: 9px;
        &--active{
            transform: translateY(-7px) rotate(180deg);
            transition: transform 0.3s ease-out;
        }
        @include tablets {
            color: #365A49;
        }
        @include phones {
            color: #E01F3D;
        }
    }
}

.team__content {
    overflow: hidden;
    top: 100%;
    position: absolute;
    transition: height .3s;
    @include tablets{
        position: relative;
    }
}

.team__position {
    margin-bottom: rem(4px);
    @include tablets{
        font-size: rem(18px);
        font-weight: bold;
        margin-bottom: rem(6px);
    }
    @include phones {
        margin-bottom: rem(12px);
    }
}

.team__text {
    padding: 0 5%;
    color: #666;
    @include tablets {
        padding: 0;
    }
    
}

.team__content-block {
    @include tablets {
        height: rem(420px);
    }
    @include phones {
        height: rem(300px);
    }
}
