.hero {
    // background: url(/beats/img/earph.png) right 30% bottom no-repeat;
    background-color: $light-gray;
    height: 100vh;
    min-height: 650px;
    position: relative;

    &::before {
        position: absolute;
        bottom: -25px;
        right: 22%;
        content: url(../../img/rectangle.png);
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 24px 0 65px 0;
        background: url(/beats/img/earph.png) right center no-repeat;
    }

    &__title-section {
        width: 46%;
    }

    &__main-title {
        font-size: 48px;
        font-weight: bold;
        line-height: 52px;
        margin-bottom: 27px;
        text-transform: uppercase;
    }

    &__title-text {
        font-style: 21px;
        margin-bottom: 56px;
        padding-right: 25%;
    }
}
